<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeGeekerz.project.pollutionTracker"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/my_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.MenuDisplayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.DisplayStatesOptionsActivity"
            android:label="@string/states_text"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.StationDisplayActivity"
            android:label="Choose Your Nearest Station"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.PollutionDetailActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity android:name="com.codeGeekerz.project.pollutionTracker.SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.codeGeekerz.project.pollutionTracker.ShowMapActivity"
            android:label="@string/title_activity_show_map"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.codeGeekerz.project.pollutionTracker.FetchAddressIntentService"
            android:exported="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="75d31077fa71056e7431eddf86739fb6e002b9c2" />
    </application>

</manifest>
